setup.cfg
.gitignore
.git
.env.dist
README.md
Dockerfile
docker-compose.yml
venv

random_words/pytest.ini
random_words/.coveragerc
random_words/db.sqlite3

**/.pytest_cache
**/.coverage
**/.idea
**/__pycache__
**/tests
