setup.cfg
.gitignore
.git
README.md
Dockerfile
docker-compose.yml
venv
requirements/*
!requirements/prod.txt

**/.coveragerc
**/.coverage
**/.idea
**/.env.dist
**/eng.json
**/ru.json
**/__pycache__
**/tests
**/migrations