setup.cfg
.gitignore
.git
README.md
Dockerfile
docker-compose.yml
venv
requirements/*
!requirements/prod.txt

random_words/pytest.ini
random_words/.env.dist
random_words/.coveragerc

**/.pytest_cache
**/.coverage
**/.idea
**/fixtures
**/__pycache__
**/tests
**/migrations